body{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(102, 102, 102);
    color: white;
}
#quote-box{
    width: 605px;
    background: #000000;
    border-radius: 10px;
    padding: 25px;
}
 

#quote-box #text{
    margin: 35px 0;
    font-size: large;
} 

#text .quote-area{
    display: flex;
    justify-content: center;

}

.quote-area i:first-child{
    margin: 2px 10px 0 0;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 2px 10px ;
}

.quote-area .quote{
    font-size: 20px;
    text-align: center;
    word-break: break-all;
}

#text #author{
    display: flex;
    margin-top: 20px;
    font-size: 18px; 
    justify-content: flex-end;
}

#author span:first-child{
    margin: -10px 4px 0 0;
    font-family:monospace; 

}
 

.buttons #features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

#features ul{
    display: flex;
}
 

#features button{
    border: none;
    outline: none;
    background: aqua;
    padding:15px 25px;
    font-size: 15 px;
    border-radius: 10px;
    background:#eee;

}

#tweet-quote{
    text-decoration: none;
    color: black;
}